//Global

$para-txt: #323232;
$label-txt: #afafaf;
$border: #e1e1e1;
$txt-bckgrd: #fafafa;

//Instock Colors
$background: #323232;
$CtaAndTextLik: #004892;
$CtaHove: #002f5f;

// Product

$info-title: #afafaf;
$button: #004892;
