@font-face {
	font-family: "Raleway";
	src: url("../assets/fonts/Raleway/static/Raleway-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "Raleway-medium";
	src: url("../assets/fonts/Raleway/static/Raleway-Medium.ttf")
		format("truetype");
}

@font-face {
	font-family: "Raleway-semi";
	src: url("../assets/fonts/Raleway/static/Raleway-SemiBold.ttf")
		format("truetype");
}

@font-face {
	font-family: "Raleway-bold";
	src: url("../assets/fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway-Extrabold";
	src: url("../assets/fonts/Raleway/static/Raleway-ExtraBold.ttf")
		format("truetype");
}

@font-face {
	font-family: "Raleway-bold";
	src: url("../assets/fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway-blackitalic";
	src: url("../assets/fonts/Raleway/static/Raleway-BlackItalic.ttf")
		format("truetype");
}
